[submodule "golang_embedded"]
	path = golang_embedded
	url = git@github.com:ycoroneos/golang_embedded.git
[submodule "gert/armv7a/imx6_platform_sdk"]
	path = gert/armv7a/imx6_platform_sdk
	url = git@github.com:ycoroneos/imx6_platform_sdk.git
